h1 {
  font-size: 8em; /* 1em = 12pt = 16px */
  font-family: "Helvetica", cursive, sans-serif;
  color: blue
}

h2 {
  font-size: 1em;
  font-family: "Helvetica", cursive, sans-serif;
  color: darkgreen
}

p{
  font-family: Courier, Monaco, monospace;
  color: darkgrey
}
